body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color #eee

a
  color: #00B7FF;
header
	text-align center
div#wrapper
	width 100%
	background-color #fff
	border-radius 5px 
	-moz-border-radius 5px 
	-webkit-border-radius 5px 

div#main
	float left
	width 60%
div#nickname
	margin-left auto
	margin-right auto
	background-color #999
	border 1px solid #555
	text-align center
	width 250px
	padding 20px
div#nickname input
	background-color #CCC
	border 1px solid #555
	padding 5px
	
div#chatmessages
	height 400px
	overflow auto
div#write
	padding 10px
div#write input
	background-color #CCC
	border 1px solid #555
	padding 5px
div#write input[type=text]
	width 80%
	font-size 16px
div#users_online
	float right
	width 35%
	padding 10px
	border-left 1px solid #999